.row {
	border: 1px solid #666;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	position: relative;
}

.droplet {
	background-color: #ccc;
	padding: 5px;
	float: left;
	margin: 5px;
}

.add-droplet-button {
	position: absolute;
	top: 0;
	right: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */