<h1>Edit Page</h1>

<p>You can drag the rows around and see the order update in the console</p>

<div dnd-list models="vm.page.rows" class="page">
	<div ng-repeat="row in vm.page.rows" class="row clearfix">
		<div ng-repeat="droplet in row.droplets" class="droplet">
			<p>{{droplet.title}}</p>
			<div ng-bind-html="droplet.value"></div>
		</div>

		<button 
			ng-click="vm.addDroplet(row)"
			class="add-droplet-button" 
			data-toggle="modal" 
			data-target="#myModal">Add Droplet</button>
	</div>
</div>

<br><br>
<pre>{{vm.page | json}}</pre>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form role="form" ng-submit="vm.applyDropletToRow()">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add Droplet</h4>
	      </div>
	      <div class="modal-body">
					<div class="form-group">
						<label>Title</label>
						<input ng-model="vm.dropletform.title" class="form-control">
					</div>
					<div class="form-group">
						<label>HTML</label>
						<textarea ng-model="vm.dropletform.value" class="form-control"></textarea>
					</div>				
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Add</button>
	      </div>
	    </div>
	  </div>
  </form>
</div>
